.img-center {
  margin-left: auto;
  margin-right: auto;
}

.pb25 {
  margin-bottom: 25px;
  color: #0280b3;
  font-size: 26px;
}

.form-label {
  padding-top: 5px;
  line-height: 25px;
  font-weight: 500;
}

ul.nav.nav-tabs li.active a {
  color: #fff;
}

.nav-tabs {
  top: 1px;
  width: 50%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.request-offer-tab li a {
  padding: 20px 0px;
  font-size: 18px;
}

.latest-entries-header {
  color: rgba(51, 51, 51, 0.45);
  font-size: 20px;
}

.latest-entries-list {
  padding-left: 0;
  list-style: none;
}

.list-item {
  position: relative;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-bottom: 1px none rgba(0, 0, 0, 0.15);
  background-color: white;
}
.list-item-text-primary {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 400;
}
.list-item-text-secondary {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(51, 51, 51, 0.75);
  font-size: 15px;
  font-weight: 400;
}
.list-item-text-secondary.text-uc {
  text-transform: uppercase;
}
.list-item-text-secondary.ellipsis {
  max-height: 25px;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

#forms {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
    header h3 {
      font-size: 16px;
    }
}
