{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
<div class="p20">
  <a href="{% url "home" %}"><i class="fa fa-chevron-left mr10"></i>Zur Startseite</a>
  <h3 class="pb25">
    Passende Angebote im Überblick
  </h3>
  <div data-bind="foreach: matchingOffers">
  <div class="row">
    <div class="col-md-6">
      <div class="list-item-offer">
        <div class="list-item-contact-image" data-bind="style: {'backgroundImage': 'url(' + avatar + ')' }" data-ix="image-fade-in"></div>
        <div class="p10">
          <h3 class="list-item-contact-heading list-item-text-primary" data-bind="text: title"></h3>
          <div class="list-item-text-secondary" data-bind="text: description"></div>
          <div class="list-item-text-secondary">
            Angeboten von: <span data-bind="text: user"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
